<div class="container">
  <p>
    A progress bar:
    <ngb-progressbar showValue="true" type="success" [value]="progress">
    </ngb-progressbar>
  </p>
  <button *ngIf="stage === 'go'" (click)="go()" class="btn btn-light" [disabled]="going">
    <span *ngIf="going" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;Go
  </button>
  <button *ngIf="stage === 'next'" (click)="next()" class="btn btn-light" [disabled]="finishing">
    <span *ngIf="finishing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;Next
  </button>
  <button *ngIf="stage === 'finish'" (click)="finish()" class="btn btn-light">Finish</button>
</div>
